@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
$viola: #652f6f;
.light-mode body {
  background-image: url("../img/bg_white.png");
}
.nav-main {
  background: #000000c4;
  position: sticky;
  top: 2%;
  left: 5%;
  height: auto;
  width: 90%;
  border-radius: 10px;
  z-index: 4;

  .dropdown-menu.show {
    background-color: $viola;
  }
  .dropdown-item:hover {
    outline: 2px solid white;
    border-radius: 10px;
    background-color: $viola;
  }

  .div-img {
    background-image: url("../img/Group\ 3.png");
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 55px;
    padding: 13%;
  }
  .text-nav {
    color: white;
    font-family: "Inter", sans-serif;
    font-style: italic;
    border-color: $viola;
  }
  .text-carrello {
    position: relative;
    span {
      position: absolute;
      top: 0;
      background-color: $viola !important;
    }
  }
  .text-nav:hover {
    color: white;
    border-bottom: 2px solid $viola;
  }
  .profilo-btn {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: $viola;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: italic;
    border-color: $viola;
  }
  .profilo-btn:hover {
    background-color: white;
    color: $viola;
  }
}

@media screen and (max-width: 992px) {
  .div-img {
    display: none;
  }
  .nav-main {
    left: 0;
    top: 0;
    width: 100%;
  }
  .main-cont {
    display: flex;
    justify-content: center !important;
  }
}
