@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

.ordine-title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: red;
}
.table-ordini {
  thead {
    .riga-col > th {
      background-color: whitesmoke;
    }
  }
  .riga-body > tr > td {
    background-color: whitesmoke;
  }
}
