.contenitor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .parente {
    display: flex;
    align-items: center;
    justify-content: center;

    .div-1 {
      background-image: url("../img/login.png");
      background-position: center;
      background-size: cover;
      height: 70vh;
      width: 100vh;
      box-shadow: 0 0 25px 2px white;
    }

    .div-2 {
      height: 70vh;
      width: 100vh;
      align-content: center;
      background-color: rgb(172 106 198 / 43%);
      padding: 3%;
    }
  }
}

.nero {
  color: black;
}

.bianco {
  color: whitesmoke;
}
.btn-progress {
  background-color: transparent !important;
  border: none;
}
.slime {
  width: 150px;
  height: 12px;
  margin: 0 5px;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .contenitor {
    margin: 10%;
    .parente {
      margin: 5%;
      flex-direction: column;
      .div-1 {
        height: 40vh;
        width: 50vh;
      }

      .div-2 {
        height: auto;
        width: 50vh;
      }
    }
  }
}
